.tdStyle{
font-weight:600;
border-style:solid;
border-color:aqua;
border-width:1px;
}

.tdCommonStyle{
border-style:solid;
border-color:red;
border-width:1px;
}

#tab{
border-style:solid;
border-color:green;
border-width:1px;
}

.outerDiv{
border-style:solid;
border-color:yellow;
border-width:1px;
width:14%;
}

.innerDiv{
border-style:solid;
border-color:blue;
border-width:1px;
width:93%;
}
