.innerDiv
{
 position:relative;
width:33px;
height:33px;
border-color:black;
border-style:solid;
border-width:1px; 
text-align:center; 
}

#outerbox
{
position:relative;
width:105px;
height:105px;
border-color:black;
border-style:solid;
border-width:1px;
display: flex;
flex-direction: row;
flex-wrap:wrap;

}